//- account.pug
include includes/doctype
html(lang="en")
    include includes/head
    body
        .container
            include includes/navbar
            h1 Account
            h4 !{username}
            code= account
            //- .lead= summary
            .description= description
            hr.clearfix
            blockquote.blockquote.text-center
                p.mb-0= blockquote
                footer.blockquote-footer !{footer}
            include includes/footer